apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: wordhandler
spec:
  generators:
  - pullRequest:
      requeueAfterSeconds: 30
      github:
        # The GitHub organization or user.
        owner: felixlut
        # The Github repository
        repo: wordhandler
        # Labels is used to filter the PRs that you want to target. (optional)
        labels:
        - preview
        tokenRef:
          key: token
          secretName: gh-token
  template:
    metadata:
      name: 'wordhandler-{{branch}}-{{number}}'
    spec:
      source:
        repoURL: 'https://github.com/felixlut/wordhandler.git'
        targetRevision: '{{head_sha}}'
        path: config/
      project: "wordhandler"
      destination:
        server: https://kubernetes.default.svc
        namespace: wordhandler-{{branch}}-{{number}}
      syncPolicy:
        syncOptions:
          - CreateNamespace=true